/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.howWorksAll {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  top: 260px;
  display: grid;
  place-items: center;
}

.howWorksNumbers {
  background-color: blue;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.howWorksLine {
  position: fixed;
  height: 2px;
  width: 100%;
  top: 30px;
  background-color: blue;
  z-index: -1;
}

.howWorksText {
  position: absolute;
  margin-top: 100px;
  width: 180px;
  text-align: center;
}

.stepBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: auto;
  width: 60px;
  box-sizing: border-box;
}
