@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif !important;
}

:root {
  --electric-blue: #2cc5fa;
  --ocean-blue: #0009ea;
  --ocean-blue-light: #344bf1;
  --white: #ffffff;
  --concrete: #f2f2f2;
  --paua: #16005e;
  --purple: #3800eb;
  --red: #eb4c4c;
  --made-of-iron: linear-gradient(
    102deg,
    var(--ocean-blue-light) 24.14%,
    var(--electric-blue) 100%
  );
  --button-gradient: linear-gradient(
    102deg,
    var(--ocean-blue-light) 24.14%,
    var(--purple) 100%
  );
  --button-gradient-hover: linear-gradient(
    102deg,
    var(--ocean-blue) 24.14%,
    var(--ocean-blue) 100%
  );
}

body {
  background-color: var(--concrete) !important;
}

/* NAVBAR THEME */
.dark {
  color: black;
}

.light {
  color: var(--white);
}

/* BUTTON */
.OutlineButton {
  border: 2px solid var(--purple) !important;
  background: var(--white) !important;
  color: var(--purple) !important;
}

.OutlineButton:hover {
  background: var(--purple) !important;
  color: var(--white) !important;
}

.LinkButton {
  color: var(--purple) !important;
}

.SolidButton {
  background: var(--button-gradient) !important;
  color: var(--white) !important;
  border-radius: 32px !important;
}

.SolidButton:hover {
  background: var(--button-gradient-hover) !important;
}

.Hero {
  background: var(--made-of-iron);
  color: var(--white);
}

.StudentProjectCard {
  background-color: white !important;
}

.Footer {
  background-color: var(--paua);
  color: var(--white);
}

.UserHeader {
  background: var(--made-of-iron);
  color: var(--white);
}

.CompanyCard {
  background-color: var(--white) !important;
  color: black;
}

.ProjectCard {
  background-color: white !important;
}

.ProjectDetails {
  background-color: var(--white) !important;
}

.list {
  list-style: none;
}

.HowItWorks {
  padding-top: 120px;
}

.howWorksAll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.howWorksNumbers {
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.howWorksLine {
  position: absolute;
  /* border: solid 2px blue; */
  border-style: solid;
  border-width: 2px;
  border-image: var(--made-of-iron) 30;
  /* background-color: var(--made-of-iron); */
  margin-top: 30px;
  left: 100px;
  right: 100px;
}

.howWorksText {
  margin-top: 30px;
  width: 180px;
  text-align: center;
}

.stepBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: auto;
  width: 60px;
  box-sizing: border-box;
  z-index: 1;
}

.ProjectDetailsInfo {
  background: var(--made-of-iron);
  color: white;
}

.Video {
  position: sticky;
}
