@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif !important;
}

:root {
  --electric-blue: #2cc5fa;
  --ocean-blue: #0009ea;
  --ocean-blue-light: #344bf1;
  --white: #ffffff;
  --concrete: #f2f2f2;
  --paua: #16005e;
  --purple: #3800eb;
  --red: #eb4c4c;
  --made-of-iron: linear-gradient(
    102deg,
    var(--ocean-blue-light) 24.14%,
    var(--electric-blue) 100%
  );
  --button-gradient: linear-gradient(
    102deg,
    var(--ocean-blue-light) 24.14%,
    var(--purple) 100%
  );
}

body {
  background-color: var(--concrete) !important;
}

.OutlineButton {
  border: 2px solid var(--purple) !important;
  background: var(--white) !important;
  color: var(--purple) !important;
}

.OutlineButton:hover {
  background: var(--purple) !important;
  color: var(--white) !important;
}

.dark {
  background-color: white;
  position: fixed !important;
  color: black;
}

.light {
  color: var(--white);
}

.Hero {
  background: var(--made-of-iron);
  color: var(--white);
}

.StudentProjectCard {
  background-color: white !important;
}

.Footer {
  background-color: var(--paua);
  color: var(--white);
}

.UserHeader {
  background: var(--made-of-iron);
  color: var(--white);
}

.CompanyCard {
  background-color: var(--white) !important;
  color: black;
}

.LinkButton {
  color: var(--purple) !important;
}

.ProjectCard {
  background-color: white !important;
}

.SolidButton {
  background: var(--button-gradient) !important;
  color: var(--white) !important;
  border-radius: 32px !important;
}

.SolidButton:hover {
  background-color: var(--ocean-blue) !important;
}

.ProjectDetails {
  background-color: var(--white) !important;
}
